*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Poppins' , 'sans-serif';
}
.h-navbar{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.h-navbar img
{
    position: 0 5px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #3f090c;
}
button{
    font-style: none;
    border-style: none;
    background-color: transparent;
}
p{
    color: rgb(169, 30, 6);

}
.h-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.h-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.h-col-2{
    flex-basis: 50%;
    min-width: 200px;
}
.h-col-2 img{
    max-width: 60%;
    padding:  60px 0;
}
.h-col-2 h1{
    font-size: 50px;
    color: #3f090c;
    line-height: 60px;
    margin:25px 0;
}
.h-col-2 h2
{
    font-style: oblique;
    color: #461d0b;
    margin-bottom: 8px;
}
.btn{
    display: inline-block;
    background: #f38361ee;
    color:rgb(0, 0, 0);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transitions : background 0.5s;
}
.btn:hover{
    background: #cd480a;

}
.h-header {
    background: radial-gradient(rgb(222, 214, 214),#f0afaf)
}
.h-header .h-row {
    margin-top: 80px ;
}
.h-categories{
    margin: 30px 0 ;
    background-color: #F3F6FB;
    display: flex;
}
.h-small-container
{
    max-width: 1060px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.h-col4
{
    flex-basis: 25%;
    padding: 10px 50px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 1s;
}
.h-col4 img{
    width: 100%;
}
.Ac,.camera,.tv
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.Ac::after,.camera::after,.tv::after
{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
button
{
    cursor: pointer;
    color: rgb(70, 69, 69);
    font-weight: bold;
}
.h-col4 p{
    font-size: 14px;
    color: #555;
}
.h-col4:hover
{
    transform: scale(0.9);
    /*z-index: 2;*/
    outline: .2rem solid rgba(154, 173, 187, 0.95);
    outline-offset: -0.5rem;
}
/*popup*/
.popup-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
}
.profile-box{
    text-align: center;
    position: fixed;
    top: -150%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 500px;
    background: #ff8a03;
    padding: 40px 90px;
    border-radius: 15px;
}
.profile-box .popup-close-btn{
    position: absolute;
    top:7px;
    right: 6px;
    background: #3f090c;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    color: antiquewhite;
}
.setting-icon{
    width:25px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #F3F6FB;
    padding: 6px;
    margin-top: 40px;
}
.pro-details{
    background: rgb(246, 244, 244);
    color: rgb(84, 7, 7);
    padding: 30px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 15px;
    margin-top: 17px;
   /* text-align: justify;*/
}
.details-name{
    display: block;
    width: 45%;
    /*padding: 10px;*/
    margin-left: 20px;
    text-align: justify;
    
}
.details-name h3{
    padding: 0px;
}
.details{
    float: right;
    margin-right: 40px;
    width: 55%;
    text-align: justify;
    /*padding:  30px 0;*/

}
.details p{
    padding: 9px;
}
body.profile-box-active .profile-box{
    top:50%
}
body.profile-box-active .popup-overlay{
    display: block;
}