@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   /* overflow-x: hidden; */
}

body{
   background-image: linear-gradient(to top,#484548 0%,#eab157 100%);
   display: flex;
}



.products-preview{
   align-items: center;
   justify-content: center; 
   width: 150%;
   height: 900px;
   position: relative;
   margin: 1.5% auto;
   
   padding: 10px;
   overflow: hidden;
}

.products-preview .preview{
   /* display: block; */
   padding:2rem;
   margin:2rem;
   text-align: center;
   height: 700px;
   width: 55rem;
   margin: 40px auto;
   position: relative;
   background: #fff;
}


.products-preview .preview img{
   max-width: 80%;
   padding:  30px 0;
   height: 30rem;
}




.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:2rem 0px;
   font-size: 2.5rem;
   color:#27ae60;
}

button{
   width: 48%;
   height: 8%;
   margin: 50px 150px;
   padding: 0px 8px;
   cursor: pointer;
   display: flex;
   text-decoration: none;
   background: rgb(55, 52, 52);
   font-size: 20px;
   /* border-radius: 20px; */
   transition: 0.5s;
}


.cart{
   
   color:rgb(185, 181, 245); 
   /* width: 100%; */
   margin: 10px 40px;
   padding: 5px 5px;
   cursor: pointer;
   /* display: block; */
   text-decoration: none;
   font-size: 20px;
   /* border-radius: 20px; */
}

.buttons:hover{
   background: #111;
}
.small-img-row
{
    display: flex;
    justify-content: space-between;
}
.small-img-col
{
    flex-basis: 50%;
    cursor: pointer;
} 